 :root{
     --primary-color:rgb(31, 236, 236);
     --heading-font: "Great Vibes" , cursive;
     --primary-margin:50px;
 }

*{
box-sizing: border-box;
text-decoration: none;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-transform: capitalize;
color: rgb(255, 235, 210);
background-color: rgb(5, 5, 5);
margin: 0;
padding:0;
border: 0;

}
.navbar{
     background-color:  var(--primary-color);
     box-shadow: inset;
}
.container{
     background-color: var(--primary-color);
     border-radius: 10px;
     display: flex;
     flex-direction: row-reverse;
     justify-content: space-between;
     padding: 20px;;
}


.container ul{
     display: flex;
     list-style: none;
     border: 0;
     background-color: var(--primary-color);
     padding-right: 700px;
    
}
.container a{
     background-color: var(--primary-color);
     color:  rgb(3, 3, 3);
     font-weight: 600;
     font-size: 20px;
}
.secLinks a{
     background-color: var(--primary-color);
     padding:20px;
}

.gameSection{
     margin:var(--primary-margin);
}
.gameContainer{
     display: flex;
     justify-content: space-between;
     
}
.game{
     height: 800px;
     width:500px;
     border:8px solid var(--primary-color);
     border-radius: 25px;
     box-shadow: 0 4px 4px rgba(0,0,0,0.1);
     display: grid;
     grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
     gap:2rem;
     padding: 0;
     
}
.game ul{
     display:flex;
     list-style: none;
}
.result{
     display: flex;
    justify-content: space-between;
}
.result li{
     font-family: "Caprasimo",cursive;
     margin:20px;
     border:3px solid var(--primary-color);
     border-radius: 20px;
     height: 50px;
     padding: 10px;
     font-weight: 5px;
     font-size:x-large;
}
.game span{
     font-family: "Caprasimo",cursive;
     margin:30px;
     padding: 20px;
     align-self: center;
     font-size: xx-large;
     font-weight: 5px;
}
.img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}
.images{
     display: grid;
     grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
     gap:1rem;
     padding: 0;
     margin: 10px;
     
}
.images li{
    display: flex;
    justify-content: center;
     height: 140px;
     padding: 20px;
     border: 2px solid  rgb(255, 235, 210);
     border-radius: 100px;
    
}
.game div{
     background-color: var(--primary-color);
     height: 50px;
     width:150px;
     border-radius: 50px;
     margin-right:160px;
     margin-left:160px;
     margin-top:10px; 
}
.aboutGame{
     margin-left: 250px;
     height:500px;
     width:700px;   
}
.aboutGame h1{
     font-family:var(--heading-font);
     text-transform: none;
     word-spacing: 10px;
     font-size: 70px;
     font-weight: lighter;
     margin-bottom: 150px;
     padding: 20px;
}
.aboutGame h2{
     margin: 20px;
     font-weight: 100;
     font-size: 40px;
     color: var(--primary-color);
}
.gameInfo{
     margin:20px;
     padding-top: 15px;
     line-height: 30px;
     font-size: 20px;
}
.myInfo{
     margin:var(--primary-margin);
}
.infoContainer{
     display:flex;
     justify-content:space-between;  
     padding-top: 60px;
     flex-wrap: wrap;
}
.aboutMe{
     height: 550px;
     width:800px;
     
}


.aboutMe li{
     list-style: none;
     margin:10px;
     padding: 5px;
     font-size: 18px;
     line-height: 1.6;
}
.aboutMe h1{
     margin-top:50px;
     font-family:var(--heading-font);
     color: var(--primary-color);
     text-transform: none;
     word-spacing: 10px;
     font-size: 70px;
     font-weight: lighter;
     margin-bottom: 10px;
     padding: 10px;
     
}
.myPfp{
     margin-top: 100px;
     margin-bottom: 200px;
     border:6px solid var(--primary-color);
     border-radius: 870px;
     height: 390px;
     width:380px;
    
}
.myPfp img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 870px;
}
.contactInfo{
     margin:var(--primary-margin);
     margin-top:0px;
}

.contactInfo h1{
     color: var(--primary-color);
     font-size: 45px;
     font-weight: 400;
     padding: 10px;
     margin:10px;
}

.contacts{
     margin:50px;
}
.accountLinks{
     display: flex;
    padding: 10px;
    justify-content: center;
}
.accountLinks li{
     display: block;
     overflow: hidden;
     margin: 20px;
     margin-bottom: 0px;
     font-size:20px;
     height: 120px;
     width:120px;
     padding: 20px;
     border:2px solid  rgb(255, 235, 210);
     border-radius: 100px;

}
.accountLinks img{
     height: 100%;
     width: 100%;
     object-fit: cover;
    
    
}
.accountNames{
     list-style: none;
     display: flex;
     padding-left: 20px;
     padding-right: 20px;
     padding-bottom: 10px;
     justify-content: center;
}
.accountNames li{
     margin-bottom: 0px;
     margin-left: 28px;
     margin-right: 15px;
     margin-top:0px;
     font-size:20px;
     height: 50px;
     width:120px;
     padding-bottom: 0px;
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 0px;
}
.contactContainer {
     display:flex;
     justify-content: space-between;
     font-size:22px;
}

.contactContainer img{
     height: 60px;
     width:100px;
     object-fit: cover;
     margin: 10px;
}
.phone {
     list-style: none;
     display: flex;
     justify-content: center;
     align-items: center;  
}
.email{
     list-style: none;
     display: flex;
     justify-content: center;
     align-items: center;  
     margin-left: 130px;
}
.projectSection{
     margin: var(--primary-margin);
     display: flex;
     flex-direction: column;
}
.proj{
     margin:10px;
     padding:10px;
     align-self: center;
     color: var(--primary-color);
     font-size: 40px;
     font-weight: 100;
     align-self: center;
}
.projectContainer{
     margin-top: 10px;
     margin-bottom: 10px;
     display: grid;
     grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
     gap:3rem;
}
.projCards img{
     height: 300px;
     border: 2px solid  rgb(255, 235, 210) ;
     border-radius: 20px;
     margin:20px;
     
     
}
.projCards h1{
     margin: 20px;
     padding-left: 40px;
     padding-bottom:20px ;
     padding-top: 20px;
     padding-right: 20px;
     font-size: 22px;
     font-weight: 400;
     height: 70px;
     border: 2px solid rgb(5, 5, 5) ;
     background-color: var(--primary-color);
     color: rgb(5, 5, 5);
     border-radius: 20px;
     box-shadow: inset;
     cursor: pointer;
} 
p{
     margin: 10px;
     font-size: 20px;
     font-weight: 100;
     padding: 0px 0px 10px 10px;
}
.projCards{
     display:flex;
     flex-direction: column;
     margin: 10px;
     height: 500px;
     width: 300px;
     border: 3px solid  rgb(255, 235, 210);
     border-radius: 20px;
     box-shadow: inset;
}
.articleSection{
     display: flex;
     flex-direction: column;
     margin: var(--primary-margin);
     justify-content: center;
}
.articleContainer{
     margin-top: 10px;
     margin-bottom: 10px;
     display: grid;
     grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
     gap:0rem;
     padding: 0 50px 50px 50px;
}
.img img{
     height: 150px;
     width: 220px;
     border: 2px solid  rgb(255, 235, 210) ;
     border-radius: 20px;
     margin:30px 0px 30px 30px;
}
.img{
     display: flex;
     flex-direction: column;
}
.postCards{
     display: flex;
     flex-direction: column;
}
.postCards article{
     height: 150px;
     width: 1000px;
     border: 2px solid  rgb(255, 235, 210) ;
     border-radius: 20px;
     margin:30px 30px 30px 0px;
     padding: 20px;
     font-size: 30px;
     font-weight: 20;
}
.postCards p{
     font-size: 20px;
     padding: 0px;
     height:50px;
}









